@import "../../utils/commons.scss";

.container {
  width: 100%;
  padding: 0rem 1rem;
  .tableContainer {
    // width: var(--fixed-width);

    // border-radius: 10px !important;
    // overflow: hidden;
    // height: 500px;
    margin-top: 1rem;
    button {
      margin: 1rem 0;
      margin-left: auto;
    }
  }
  button {
    img {
      width: 30px;
    }
  }
}
.tabs {
  @extend .flexRow;
  div > div > span {
    background-color: var(--clr-primary) !important;
  }
}
.dialog {
  div:nth-of-type(3) > div {
    background: var(--clr-bg-dark) !important;
  }
  header {
    background: var(--clr-primary);
  }
  .tablesContainer {
    width: 90%;
    margin: 2rem auto;

    .tabs {
      margin: 1rem 0;
      img {
        width: 30px;
      }
    }
  }
}
