@import "../../utils/commons.scss";

.container {
  width: 100%;
  padding: 1rem;

  .tableContainer {
    width: var(--fixed-width);
    margin: 3rem auto;
    // border-radius: 10px !important;
    // overflow: hidden;
    height: 500px;
  }
}
