@import "../../utils/commons.scss";

.container {
  width: 100%;
  padding: 1rem;
  padding: 2rem 1rem;
  .tableContainer {
    // width: var(--fixed-width);
    
    // border-radius: 10px !important;
    // overflow: hidden;
    height: 500px;
  }
}
