@import "../../utils/commons.scss";

.inputField {
  @extend .flexCol;
  flex-direction: column-reverse;
  align-items: flex-start;
  width: 300px;
  input ,textarea{
    padding: 1rem;
    border: 2px solid rgba(255, 255, 255, 0.06);
    border-radius: 4px;
    outline: none;
    font-family: Gilroy-500 ;
    font-size: 1rem;
    background: transparent;
    width: 100%;
    resize: none;
    color: white;
  }
  input:focus,textarea:focus{
    border-color: var(--clr-primary);
  }
  label {
    font-size: 0.8rem;
    margin:0.5rem 0;
    text-transform: capitalize;
    color: #898989;
  }
  input:focus + label,textarea:focus + label{
    color:white;
  }
}
