.flexRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexCol {
  @extend .flexRow;
  flex-direction: column;
}

.fontG800{
  font-family: 'Gilroy-Heavy', sans-serif;
}
.fontG300{
  font-family: 'Gilroy-Light', sans-serif;

}
.fontG400{
  font-family: 'Gilroy-Regular', sans-serif;

}
.fontG500{
  font-family: 'Gilroy-Medium', sans-serif;
}